body {
    font-family: 'Amazon Ember', sans-serif;
    background: linear-gradient(#fdfdfd, #eeeeee);
    margin: 0px;
    background-size: auto;
    background-repeat: no-repeat;
}

#navbar {
    background: linear-gradient(#fdfdfd, #eeeeee);
    border-bottom: solid 2px white;
    display: flex;
    padding: 7PX;

}

#navbar img {
    width: 100px;
    padding-top: 5px;
}

#navbar h1 {
    color: azure;
    font-weight: 100;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding-left: 5px;


}

#generalLinks {
    display: flex;
    justify-content: center;
    width: 100%;
}

#generalLinks a {
    padding: 1rem;
    border: solid 1px white;
    background-color: #e4e5e8;
    border-radius: 4px;
}

.roleContainer h2 {
    text-align: center;
    font-size: 2em;
    font-weight: bolder;

}

.linksContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2px 5px;
    justify-content: center;
    width: 90%;
    margin: auto;
}
.caseContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 10px;
    justify-content: center;
    width: 90%;
    margin: auto;
}
.caseDiv {
    border: solid 1px white;
    background-color: #e4e5e8;
    border-radius: 4px;
    width: 48%;
}
.caseContainer div {
    padding: 10px;
    border-radius: 5px;
    
}

.linksContainer a,button {
    padding: 1rem 1.5rem;
    background-color: #e4e5e8;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    border: 1px solid #ccc;
    margin: 2px;
    transition: box-shadow .5s;
    flex-grow: 1;
    text-align: center;
    min-width: 10px;
}

.linksContainer a:hover, button:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    background-color: #525252;
    color: #ccc;
}

.grids {
    margin: auto;
    text-align: center;
    background-color: #e4e5e8;
    width: fit-content;
    padding: 5px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#smile {    
    width: 100px;
    margin: 0;
}
.cright{
    display: flex ;
    width: 90%;;
}
#tc{
    font-size: 3px;
    color: #e4e5e8;
    position: relative;
    margin: auto 10px;
}
.table table, tr, TD{
    font-size: 15px;
    border-collapse: collapse;
    border: 1px solid;
    margin: auto;
    padding: 0px 4px;
}
.table {
    width: 95%;
    margin: auto;
}
caption{
    display: none;
}
tr:nth-child(even) {background-color: #f2f2f2;}

form{
    width: 80%;
}
button{
    font-family: 'Amazon Ember', sans-serif;
}
.btnContainer{
    width: 80%;
    margin: auto;
    display: flex;
}
button{
    margin: 10px;
    width: 20px;
    padding: 5px;
}
.caseTitle{
    display: flex;
    gap: 10px;
    align-items: baseline;
}
